<!DOCTYPE html>
<html lang="en">
<%- include('partials/_header.ejs') %>
  <!-- body -->

  <body class="main-layout inner_page">
    <!-- loader  -->
    <div class="loader_bg">
      <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->

    <!-- header -->
    <%- include('partials/_menu.ejs') %>
      <!-- end header inner -->
      <!-- contact -->
      <div class="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12 ">
              <div class="titlepage text_align_center">

                <h2>Requste A Call Back</h2>
              </div>
            </div>
            <div class="col-md-8 offset-md-2">
              <form id="request" class="main_form" action="/contact" method="POST">
                <div class="col-md-12">
                  <div class="alert alert-success" style="display:none" id="sended-message"></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input class="form_control" placeholder="Your name" type="text" name="name">
                  </div>
                  <div class="col-md-12">
                    <input class="form_control" placeholder="Email" type="email" name="email">
                  </div>
                  <div class="col-md-12">
                    <input class="form_cont" placeholder="Message" type="text" name="message">
                  </div>
                  <div class="col-md-12">
                    <div class="group_form">
                      <button class="send_btn">Send</button>

                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- end contact -->
      <!-- end footer -->
      <%- include('partials/_footer.ejs') %>
        <!-- end footer -->
        <!-- Javascript files-->
        <script>
          const form = document.querySelector("#request")
          const messageSended = document.querySelector("#sended-message")

          const name = form.name.value
          const email = form.email.value
          const message = form.message.value


          form.addEventListener("submit", async (e) => {
            e.preventDefault()
            try {
              const res = await fetch('/contact', {
                method: "POST",
                body: JSON.stringify({ name, email, message }),
                headers: { "Content-Type": "application/json" }
              })

              const result = await res.json();


              if (result.success) {
                messageSended.textContent = "mesajınız başarıyla iletilmiştir"
                messageSended.style.display = "block"
                form.name.value = ""
                form.email.value = ""
                form.message.value = ""
                setTimeout(() => {

                  messageSended.style.display = "none"

                }, 3000);
              }

            } catch (error) {
              console.log("ERROR:" + error)
            }

          })

        </script>
  </body>

</html>